.mainContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.container {
  flex: 1;
  background: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container:hover {
  background: var(--bgHover);
  transform: translateY(-2px);
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: var(--textSoft);
}

.number {
  font-size: 24px;
  font-weight: 500;
}

.subtitle {
  font-size: 14px;
  color: var(--textSoft);
}

.detail {
  font-size: 14px;
  font-weight: 500;
}

.positive {
  color: #afec1f;
}

.negative {
  color: #ff4d4d;
}
